@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #0459ba;
    --second-color: #192f6a;
    --text-color: #314862;
    --bg-color: color: #fff;

    --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
}

img{
    width: 100%;
}

body{
    color: var(--text-color);
}

.search-button{
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f0f0f0; 
    }

    form {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 5px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    input[type="text"] {
        margin:0;
        width: 300px;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .dropdown {
        margin-left: 32rem;
        width: 70px;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        box-sizing: border-box;
        border: none;
        
    }

    button:hover {
        background-color: #0056b3;
    }
}


.dropdown{
    margin-left:32rem;
    width: 70px;
    padding: 10px;
    margin-bottom: 20px;
    
   
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: block;
    width: 100%;
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
}

.logo .bx{
    font-size: 50px;
    color: var(--main-color);
}

.top{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.nav-container{
    justify-content: space-between;
    background-color:beige
}




.welcome {
    border-bottom: none;
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.nav-container a{
    text-decoration: none;
    color: #192f6a;
    font-size: 17px;
}

.nav-container{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: inline-flex;
    border: 2px solid #0000;

    
    
}

.nav-container .logo{
    width: 80px;
}

.nav-container ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

.nav-container ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.nav-container logo{
    color: #192f6a;
}

.content h1{
    padding-left: 10%;
}

.content h1{
    font-size: 80px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.content h1 :hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height:auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.btn{
    padding: 8px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem;
    color: #fff;
}

.btn:hover{
    background: #358df2;
}

.home{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    border-radius: 1.5rem;
    display: flex;
    min-height: 100%;
    align-items: center;
    margin-bottom: 35px;
} 
.home-text {
     padding-right: 35px;
}
.home-text h1 {
    border-bottom: 5rem;
    color: var(--box-shadow);
    font-size: 1.5rem;
    margin-bottom: 19rem;
    margin-left: 2rem;
}

.about {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 3rem;
    min-height: 75%;
    padding-top: 42px;
}

.about-img img{
    border-radius: 2rem 0 2rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.about-text span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--main-color);
}

.about-text h2{
    font-size: 2rem; 
}

.about-text p{
    text-align: left;
    width: 350px;
    font-size: 1.18rem;
    margin: 1rem 0 1rem;
}


:root{
    --background-dark: #ffffff;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}
  

  
html{
     height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
  
body{
    height: 100%;
}
  
.property{
    align-items: flex-start;
    background-image: linear-gradient(15deg, #ffffff 0%, #ffffff 150%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
    margin-top: 40px;
}
  
.card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}
  
@media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
}
  
@media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(3, 1fr); 
    }
}
  
.card{
    list-style: none;
    position: relative;
   



}
  
.card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}
  
.card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
}
  
.card:hover .card__background{
    transform: scale(1.05) translateZ(0);
}
  
.card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.75) saturate(1.2) contrast(0.85) blur(14px);
}
  
.card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}
  
.card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}
  
.card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}

.login {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    min-height: 100vh;
    margin-top: 2rem;
}
.login-container{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.login-container h2{
    font-size:  2.4rem;
}
.login-container p{
    font-size: 1rem;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form span {
    font-size: 0.9rem;
    color: #8a8a8a;
    margin-bottom: 4px;
}

.login-container form input{
    border: 1px solid #8a8a8a;
    outline: none;
    padding: 10px;
    margin-bottom: 1rem;
    background: var(--bg-color);
}

.login-container .button{

    outline: none;
    border: none;
    background: var(--main-color);
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}
 
.login-container form .button:hover {
    background: #3492fd;
}

.login-container form a{
    font-size: 0.9;
    text-align: right;
}

.login-container .btn {
    border-radius: 0;
    text-align: center;
}

.login-Image{
    padding-left: 4rem;
    padding-bottom: 3rem;
}

.footer {
    background: var(--main-color);
    color: #fff;
    border-radius: 5rem 0 0 0;
    height: 240px;
}

.footer-container {
    display: flex;
    grid-template-columns: repeat(auto fit,minmax(240px,auto));
    gap: 9.8rem;
}

.footer-container h2 {
    padding-top: 4.8rem;
    font-size: 2rem;
    font-weight: 500px;

}
.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-box h3{
    margin-bottom: 0.2rem;
    font-size: 2rem;
    font-weight: 400;
}

.footer a {
    color: white;

}

.social a {
    font-size: 35px;
}

.copyright{
    text-align: center;
    padding-top: 1rem;
}


.add_prop {
    min-height: 100vh;
    background: url("./imgs/add_prop.mp4");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.form {
    background: rgba(14, 18, 22, 0.8);
    width: 60%;
    color: white;
    border-radius: 20px;
    margin-top: 5rem;
}

.form-head {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

.name-form {
    
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
}
.desc-form {
    padding: 28px;
    text-align: center;
    font-size: 1.5rem;
}

.number-form {
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
}
.img-form {
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.form-wrapper button {
    width: 100%;
    padding: 2rem;
    margin-top: 2rem;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
    padding: 2rem 6rem;
    background:  #0459ba;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}
.form-wrapper button:hover {
    background: #358df2;
}

.form-wrapper input {
    padding: 1rem 3rem;
}
.form-wrapper label{
    margin: 0rem 5rem 0rem 0rem;
}

.container-prop{
   
    height: 100%;
    margin-top: 100px;
    display: flex;  
    padding: 10px;
     
}

.property-main{
    align-items: center; 
    display: flex;
    background-color: #0056b3;
    width: 95rem;
    height: 100%;
    display: absolute;
    min-height: 40%;
    border: 2px solid black;
}
.searchProp{  /* css for para in searh bar division */
    color: black;
}
.listings{
    border: 2px solid black;
    padding-left: 15px;
    margin-left: 15px;
}



